.pet-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: column;
  gap: 1rem 1rem;
  margin-bottom: 1rem;
  &--text {
    padding-left: 2rem;
  }
  &--link {
    text-align: center;
  }
}
